---
import '../styles/global.css'

interface Props {
	title: string
}

const {title} = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Gilberto Acosta' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />

		<meta name='author' content='Gilberto Acosta' />
		<meta name='description' content='Portafolio Website ⚡' />

		<meta property='og:title' content={title} />
		<meta property='og:description' content='Portafolio Website ⚡' />

		<meta property='twitter:card' content='summary_large_image' />
		<meta property='twitter:title' content={title} />
		<meta property='twitter:description' content='Portafolio Website ⚡' />

		<title>{title}</title>
	</head>
	<body
		class='min-h-screen flex flex-col items-center bg-[#f5f5f5] dark:bg-[#252525] transition-colors'
	>
		<slot />
	</body>
</html>

<script>
	// Theme management script
	const theme = localStorage.getItem('theme')
	const systemPrefersDark = window.matchMedia(
		'(prefers-color-scheme: dark)',
	).matches

	if (theme === 'dark' || (!theme && systemPrefersDark)) {
		document.documentElement.classList.add('dark')
	} else {
		document.documentElement.classList.remove('dark')
	}

	// Listen for system theme changes
	window
		.matchMedia('(prefers-color-scheme: dark)')
		.addEventListener('change', (e) => {
			if (!localStorage.getItem('theme')) {
				document.documentElement.classList.toggle('dark', e.matches)
			}
		})
</script>
